.common-button{
  padding: .3rem .7rem;
  background-color: green;
  color: var(--brand-dark);
  border: 1px thin var(--brand-green);
  border-radius: 5px;
  
}

.common-button:hover{
  background-color:rgb(3, 68, 3);
  color: var(--brand-white);
}

.common-button:active{
  transform: scale(.99);
}